
<html>
<head>
    <script>
            var ip = "{{ ip }}";
            var port = "{{ port }}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ ip }}/js/reload_pdf.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ ip }}/css/style.css">
</head>
<body>
<h1>PDF Viewer</h1>
<div id="pdf-viewer">
    <iframe src="{{ ip }}/assets/bare_conf.pdf" id="pdf"></iframe>
</div>

</body>

</html>
